<h2>All Invoices for <%= @user.business.name %></h2>

<table>
  <tr>
	  <th>Type </th>
    <th>Amount </th>
    <th>Due Date </th>
    <th>Recipient </th>
    <th>Payer </th>
  </tr>

  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.type(@business) %></td>
      <td><%= invoice.amount %></td>
      <td><%= invoice.due_date %></td>
      <td><%= invoice.receiver.name %></td>
      <td><%= invoice.payer.name %></td>
    </tr>
  <% end %>
</table>
