<h1>Create Invoices</h1>

<%= form_for [@business, @invoice], action: :create do |f| -%>

  <%= f.label :amount, "Amount" %>
  <%= f.text_field :amount %>

  <%= f.label :due_date, "Due Date" %>
  <%= f.date_field :due_date %>

  <%= f.label :paid_date, "Paid Date" %>
  <%= f.date_field :paid_date %>

  <%= f.label :received_date, "Received Date" %>
  <%= f.date_field :received_date %>

  <%= label_tag :payer_name, "Payer Name" %>
  <%= text_field_tag :payer_name %>

  <%= label_tag :receiver_name, "Receiver Name" %>
  <%= text_field_tag :receiver_name %>

  <%= f.submit "Submit", class: "button radius expand" %>
<% end -%>
