<h1>Sign Up</h1>
<% if flash.alert %>
<div data-alert class="alert-box alert radius">
  <%= flash.alert %>
  <a href="#" class="close">&times;</a>
</div>
<% end %>
<%= form_for :user, url: signup_path do |f| %>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit", :disable_with => 'Submiting...', class: "button radius expand" %>
<% end %>