<% if @user %>

  <%= render partial: 'users/index' %>

<% else %>

<h2>Companies Reported for Not Paying Invoices</h2>

<div class="tabs-content">
  <div class="content active" id="payable">
    <table>
      <thead>
      	<tr>
      	  <th>Business Name</th>
      	  <th>Number of Reports</th>
      	</tr>
      </thead>
      <tbody>
    <% @businesses.each do |business| %>
    		<% if business.received_flags.count > 0 %>
	      	<td><%= business.name %></td>
	      	<td><%= business.received_flags.count %></td>
      	<% end %>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
  <div class="content" id="receivable">
    <table>
      <thead>
      <tr>
        <th>Business Name</th>
        <th>Number of Flags</th>
      </tr>
      </thead>
      <tbody>
    <% @businesses.each do |business| %>
    		<% if business.received_flags.count > 0  %>
	      	<td><%= business.name %></td>
	      	<td><%= business.received_flags.count %></td>
      	<% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>

<% end %>
